<!DOCTYPE html>
<html lang="en">
<head>
  <title>Trivia</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link href="/static/css/style.css" rel="stylesheet">
  <script src="/static/js/login.js"></script>
</head>

<body>
  <div class="container rounded bg-primary text-white mt-5 p-2">
    <h1 class="text-center">Jason's Web Trivia</h1>
    <h2 class="text-center">Welcome, {{ username }}<span id="username"></span></h2>
    <div class="text-center">
      <a href="/logout"><button class="btn btn-danger">Logout</button></a>
    </div>
  </div>

  <div class="container rounded bg-light py-3 my-2">
    <div class="row-cols-1">
      <h2 class="text-left">Trivia No. {{ question[0] }}</h2>
    </div>

    <div class="row-cols-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Question: {{ question[1] }}</h5>
          <p class="card-text">Answer: {{ question[2] }}</p>
        </div>
      </div>
    </div>

    <div class="text-center py-2">
      <a href="/profile"><button class="btn btn-primary">Back</button></a>

</body>
</html>