a{
    color: white;
    text-decoration: none;
}
#lol{
    position:absolute;
    color: white;
    text-align: center;
    padding-top: 30%;
    font-size: 1px;
}
img{
    width: 100vw;
    height: 100%;
}