<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    
    <h1>Login Page</h1>
    <form action="/login" method="POST">
        <label>Username:</label>
        <input type="text" id="username" name="username">
        <br><br>

        <label>Password:</label>
        <input type="password" id="password" name="password">
        <br><br>

        <button type="submit">Submit</button>

        <input type="text" id="role" name="role" hidden value="guest">
    </form>
</body>
</html>